.home .section {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 0;
}

.home .list a {
  text-decoration: none;
  color: var(--text);
}

.home .list a strong {
  border-bottom: 2px solid var(--secondary);
}

.home .list a:hover strong {
  color: var(--link);
}

.home .text.bigger {
  max-width: 33rem;
}

@media(min-width: 960px) {
  .home .text.bigger br {
    display: none;
  }
}



.home .technologies {}

@media(max-width: 768px) {
  .home .technologies .list {
    list-style: none;
    margin:0 0 2rem;
    padding:0;
  }
  .home .technologies .list li {
    display: inline;
  }
  .home .technologies .list li:after {
    content: ", "
  }
  .home .technologies .list li:last-child:after {
    content: ""
  }
}
