
.page--home .header {
  background: none;
  border: none;
}

@media(max-width: 840px) {
  .page--home .page-overview .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
  }
  
  .page--home .page-overview .list-item {
    margin-right: 1rem;
    margin-bottom: 0.25rem;
  }
}


.page--home .section {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 0;
}

.page--home .list a {
  text-decoration: none;
  color: var(--text);
}

.page--home .list a strong {
  border-bottom: 2px solid var(--secondary);
}

.page--home .list a:hover strong {
  color: var(--link);
}

.page--home .text.text--bigger {
  margin-top: 1.5rem;
  max-width: 33rem;
}

.page--home .text.text--bigger + .text {
  padding-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.page--home .section__right .list {
  font-size: 1.125rem;
}

@media(min-width: 960px) {
  .page--home .text--bigger br {
    display: none;
  }
}