.header {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--section-margin);
  position: sticky;
  top:-4.25rem;
  z-index:100;
  background: linear-gradient(30deg, rgba(255,255,2555,0.1) , #fff 56%);

}

/** Site Title **/

  .header .title {
    display: flex;
    margin: 0rem 0 2rem;
    height: 2.25rem;
    font-size: 2rem;
  }

  .header .title a:hover {
    text-decoration: underline;
  }

  @media(min-width: 840px) {
    .header .title {
      display: none;
    }
  }
  

/** Back to Home Link */

  .header .link.link--home {
  }

  @media(min-width: 840px) {
    .header .link.link--home {
      display: flex;
      align-items: center;
      position:absolute;
      left:0;
      top:0;
      bottom:0;
      width: var(--col1);
      align-items: center;
      justify-content: flex-end;
      padding-right: var(--section-margin);
      background: none;
    }
  }

  .header .link--home .icon {
    margin-top: -2px;
    margin-right: 8px;
    fill: var(--alt-text);
  }

  .header .link.link--home.link--active {
  }

/** Header Nav Links */

  .header .list {
    align-items: center;
    justify-content: center;
  }

  @media(min-width: 840px) {
    .header .list {
      justify-content: flex-end;
    }
  }

  .header .link {
    color: var(--alt-text);
    text-decoration: none;
    font-family: var(--font-condensed);
    text-transform: uppercase;
    padding: 8px 16px;
    margin-right: 8px;
    background:#fff;
  }
  
  .header .list-item:last-child .link {
    margin-right:0;
  }

  .header .link--active {
    color: var(--text);
    font-weight: 700;
  }