.page {
  margin: auto;
  width: 100%;
  height:100%;
  position: relative;
  min-height: 100vh;
}

@media(min-width: 840px) {
  .page > .header {
    position: fixed;
    top:0;
    height: var(--header-height);
    flex-direction: row;
    justify-content: flex-end;
  }
}

.page .section .section__left {
  display: none;
}

@media(min-width: 840px) {
  .page .section .section__left {
    display: flex;
  }
}

.page__main {

}

.page__footer {}