.section {
  position: relative;
  z-index:1;
  padding: 0;
  background: transparent;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 0;
}

.section .title {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.section__content {
  margin:auto;
  display: flex;
  height: 100%;
  flex-direction: column;
}

@media(min-width: 880px) {
  .section__shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    background: linear-gradient(30deg, rgba(255,255,2555,0.1) , #fff 56%);
    z-index: 1000;
    background-size: 900px 72px;
    background-position: top right;
    background-repeat: no-repeat;
  }
}


.section .section__left {
  position:relative;
  width: var(--col1);
  padding: var(--section-margin);
  background: #f6f6f6;
  display: flex;
}

@media(min-width: 840px) {
  .section .section__left {
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
    position: fixed;
    left:0;
    top:0;
    bottom: 0;
    z-index: 10;
    
  }
}


.section__left .list {
  list-style: none;
  font-size: 0.875rem;
  font-family: var(--font-condensed);
  text-transform: uppercase; 
}

.section .section__right {
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: var(--section-margin);
}

@media(min-width: 840px) {
  .section .section__right {
    position:absolute;
    right:0;
    top:0;
    bottom: 0;
    padding-left: calc(var(--col1) + var(--section-margin));
  }
}

@media(min-width: 840px) {
  .section .page-content,
  .section .page-overview {
    position: relative;
    margin-top: 33vh;
  }
}


.section .section__right .page-content {
  padding-top: 0.6rem;
  max-width: var(--col2-max);
}

.section .section__right .big {
  margin-bottom: 24px;
}

.section .section__right .small {
  margin-bottom: 16px;
}

.section__right .block:first-child {
  margin-top: 0;
}

.section__right .block {
  margin-top: 120px;
  font-size: 1.125rem;
  font-weight: 300;
  min-height: 41vh;
}

.section__right .block:last-child {
  margin-bottom: 160px;
}

.section__left .list .link {
  color: var(--alt-text);
  text-decoration: none;
}

.section__left .list .link.link--active {
  font-weight: 700;
  color: var(--text);
}
